!*.c   
!*.h  
   *.log  
   *.plg  
   *.bak  
   *.dep  
   *.uvgui.*  
   JLinkLog.txt  
   *.o  
   *.d  
   *.crf  
   *.tra  
   *.axf  
   *.hex  
   *.lnp  
   *.sct  
   *.__i  
   *.htm  
# My configurations:
EXIT.build_log.htm
EXIT.uvopt
EXIT_uvopt.bak
EXIT.uvgui.Administrator
.gitignore